body{
  font-family: 'Roboto Condensed', sans-serif;
  border-radius:0;
  font-size:18px;
}
.browsehappy {
  margin: 0.2em 0;
  background: $main;
  color: $second;
  padding: 0.2em 0;
}
.error{
  color:$error;

}
.success{
  color:$success;

}
// injector
@import 'styles/fonts';
@import 'styles/animate';
@import '../../components/login/login';
@import '../../components/navbar/navbar';

// endinjector

