.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.thumbnail {
  height: 200px; }
  .thumbnail img.pull-right {
    width: 50px; }

.login {
  text-align: center;
  margin: 50px auto; }
  .login .error {
    color: #FF0000; }

.navbar li .active, .navbar li a, .navbar li span {
  color: #333;
  background: transparent; }
