@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
.login {
  text-align: center;
  margin: 50px auto; }
  .login .error {
    color: #FF0000; }
  .login .btn, .login .input {
    padding: 10px;
    margin: 10px; }

.navbar li .active, .navbar li a, .navbar li span {
  color: #333;
  background: transparent; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.thumbnail {
  height: 200px; }
  .thumbnail img.pull-right {
    width: 50px; }
