<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" ng-show="user.authenticated">Home</a></li>
          <li><a ui-sref="login" ng-show="!user.authenticated">Login</a></li>
          <li><a ui-sref="logout" ua-logout ng-show="user.authenticated">Log out</a></li>
          <li><a ui-sref="signup" ng-show="!user.authenticated">Sign Up</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="user.authenticated">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>

</nav>
