.login{
  form{
    .input{
      padding:10px;
      margin:10px;
      font-size:18px;
      border-radius:0;
      width:300px;
      text-align:center;
      
    }
    button, .btn{
      font-size:18px;
      width:300px;
    }
  }
}
